{% extends 'layout.html' %}
{% block body %}

<h1 style="text-align:center">Articles</h1>
<br>
<br>
<div style="text-align:center">
    {% for d in date %}
        {{ d.date }}
    <br>
    <br>
    <br>
    <div>
        {% for i in input_text %}
        {% if d.date == i.created_date.date %}
            <h4 style="color:blue"><b>#{{ i.tag }}</b></h4>
            <h4>{{ i.title }}</h4>
            <h4>{{ i.author }}</h4>
            <h4>{{ i.upload_file }}</h4>
            <h4>{{ i.content }}</h4>
            <h4>{{ i.created_date }}</h4>
            <br><br>
        {% endif %}

        {% endfor %}

    {% endfor %}
        </div>
</div>
<br>


{% endblock body %}